#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

In [2]:
list=[]
print(type(list))

<class 'list'>

In [4]:
names=["maneesh","rugved","kuldeep",1,2,3,3,44]
print (names)

['maneesh', 'rugved', 'kuldeep', 1, 2, 3, 3, 44]

In [19]:
## Accessing the elements of the list
print(names[5])
print(names[6])
count =len(names)

for i,element in enumerate(names):
    print(f"{i}: {element}")

3
3
0: kuldeep
1: maneesh
2: rugved
3: 1
4: 2
5: 3
6: 3
7: 44

In [16]:
## remove the element
names.remove("maneesh")
print(names)

['rugved', 'kuldeep', 1, 2, 3, 3, 44]

In [17]:
names.insert(2,"maneesh")
print(names)

['rugved', 'kuldeep', 'maneesh', 1, 2, 3, 3, 44]

In [22]:
fruits=["apple","banana","cherry","kiwi","gauva"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'gauva', 'kiwi']

In [26]:
fruits.reverse()

print(fruits)
fruits.insert(3,"guavava")
print(fruits)

['apple', 'banana', 'guavava', 'cherry', 'gauva', 'kiwi']
['apple', 'banana', 'guavava', 'guavava', 'cherry', 'gauva', 'kiwi']

In [29]:
## slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5]) # print indes num 2 to 5
print(numbers[:5]) #till index 5
print(numbers[5:])# from 5 index
print(numbers[::2]) # jumt 2 steps
print(numbers[::-1]) # reverse order of 1

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
## iterating over list
fruits=["apple","banana","cherry","kiwi","gauva"]

print(fruits)
for index,fruits in enumerate(fruits):
    print(index,fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva']
0 apple
1 banana
2 cherry
3 kiwi
4 gauva

In [37]:
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

Basics Syantax            [expression for item in iterable]

with conditional logic    [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [40]:
## basic list Comprehension
square =[num**2 for num in range (10) if num%2==0]
print(square)

[0, 4, 16, 36, 64]

In [41]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [42]:
lst1=[9,8,7,6]
lst2=['a','d','e','y']
pair2=[[i,j] for i in lst1 for j in lst2]
print(pair2)

[[9, 'a'], [9, 'd'], [9, 'e'], [9, 'y'], [8, 'a'], [8, 'd'], [8, 'e'], [8, 'y'], [7, 'a'], [7, 'd'], [7, 'e'], [7, 'y'], [6, 'a'], [6, 'd'], [6, 'e'], [6, 'y']]

In [46]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]




even_odd = ['even' if x % 2 == 0 else 'odd' for x in range(6)]
print(even_odd)

[5, 5, 6, 4, 13]
['even', 'odd', 'even', 'odd', 'even', 'odd']

In [44]:
## list comprehension using function
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = [square(x) for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [45]:
## flattening the list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened = [item for sublist in nested_list for item in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
# filtering
numbers = [3, 6, 9, 2, 8, 4, 10]
filtered=[num for num in numbers if num>4]  
print (filtered)

[6, 9, 8, 10]

In [48]:
# Generate a 3x3 matrix
matrix = [[i + j for j in range(3)] for i in range(3)]

print(matrix)

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

In [49]:
# Numbers divisible by 2 and 3 between 1 and 100
divisible_by_2_and_3 = [x for x in range(1, 101) if x % 2 == 0 and x % 3 == 0]

print(divisible_by_2_and_3)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [50]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Transpose the matrix
transposed_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [51]:
keys = ['name', 'age', 'city']
values = ['Alice', 30, 'New York']

# Combine two lists into a dictionary
dictionary = {keys[i]: values[i] for i in range(len(keys))}

print(dictionary)

{'name': 'Alice', 'age': 30, 'city': 'New York'}