In [1]:
1+1

2

In [3]:
## DataTypes
#### 1. Definition:

# Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
# They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
#Explanation:

# Data types ensure that data is stored in an efficient way.
# They help in performing correct operations on data.
# Proper use of data types can prevent errors and bugs in the program.

In [6]:
## Integer Example
age=35
type(age)


##floating point datatype
height=5.11
print(height)
print(type(height))


## string datatype example
name="Krish"
print(name)
print(type(name))

## boolean datatype
is_true=True
print
print(type(is_true))


a=10
b=10

print(type(a==b))



## common errors

result="Hello" + 5

5.11
<class 'float'>
Krish
<class 'str'>
<class 'bool'>
<class 'bool'>

TypeError: can only concatenate str (not "int") to str